$error-red: #db3333;
$theme-blue: #43aee0;

.app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: #e7e7e7;
  display: grid;
  grid-template-rows: 1fr fit-content(100%) 1.618fr;

  > * {
    grid-row: 2;
    margin: auto;
  }
}

.center-content {
  width: 400px;
}

.form {
  display: grid;
  grid-template-areas:
          'label label'
          'input button'
          'error error';
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 100px;
  background-color: white;

  padding: 16px;

  .label {
    grid-area: label;
    line-height: 15px;
  }

  input {
    grid-area: input;
    background: #f2f2f2;
    cursor: auto;
    border-radius: 2px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    padding-left: 10px;
    padding-right: 10px;
    color: #222222;
    &.has-error {
      border: 1px solid $error-red;
    }

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.16);
      padding-left: 9px;
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.16);
    }
  }

  .primary-button {
    grid-area: button;
    margin-left: 6px;
    padding: 6px 12px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    background-color: $theme-blue;
    border: 1px solid #2a97ca;
    color: white;
    &:hover {
      &:not(.disabled) {
        background: darken($theme-blue, 3%);
      }
    }

    &.disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  .validation-error {
    grid-area: error;
    color: $error-red;
    padding-top: 6px;
  }
}

.link {
  cursor: pointer;
  color: $theme-blue;

  &.hover {
    text-decoration: underline;
  }
}

@mixin bottom-half() {
  height: 230px;
  background: white;
  margin-top: 6px;
}

.error,
.loader,
.placeholder {
  @include bottom-half();
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.error {
  color: $error-red;
}

.results {
  @include bottom-half();
  overflow: hidden;
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;

    .value {
      place-self: start;
      font-weight: bolder;
    }

    .metadata {
      place-self: end;
      color: #c8c8c8;
    }
  }

  .occurrences {
    height: calc(100% - 48px);
    overflow-y: auto;

    .occurrence {
      &:first-child {
        border-top: 1px solid #e7e7e7;
      }

      border-bottom: 1px solid #e7e7e7;
      .label {
        padding: 6px 16px;
      }
    }
  }
}
